# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Thumbnail output folder (optional)
output/thumbnails/

# PyCharm / VSCode
.idea/
.vscode/

build_env/
build/
dist/
